rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function verified(request) {
      return request.auth != null && request.auth.uid != null;
    }

    match /play/{perspective}/game/{gameId} {
      allow read: if perspective == 'public' || (verified(request) && perspective == request.auth.uid);
    }

    match /public/{document=**} {
    	allow read: if true;
    }
  }
}
