


body {
  background-color: white;
  max-width: 380px;
  margin: 10px auto;
  padding: 0 10px;
}

body, input, button, textarea, select, option {
  font-size: 18px;
  font-family: monospace;
  line-height: 2;
  box-sizing: border-box;
}

select, input, button, textarea {
  width: 100%;
  margin-bottom: 18px;
  background-color: transparent;
  border: 3px solid black;
  font-weight: bold;
  padding: 4px;
  outline-color: blue;
}

button {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}
button:active {
  color: blue;
  text-decoration: none;
}

select {
  height: 50px;
  margin-bottom: 8px;
}

figure {
  margin-left: 0;
}

.hidden {
  visibility: none;
}


.firebase-emulator-warning {
  display: none;
}