

:root {
  --window-inner-height: 100vh; /* default befor js height sync hits */
  --viewport-width: 420px;
}

@media screen and (min-width: 640px) {
  :root {
    --viewport-width: 580px;
  }
}

html {
  box-sizing: border-box;
}

html.is-disabled,
html.is-inactive {
  height: calc(var(--window-inner-height) - 1px);
  overflow: hidden;
  touch-action: none;
}

body {
  max-width: var(--viewport-width);
  margin: 10px auto;
  padding: 0 14px;
}

h1 {
  margin-bottom: 16px;
}
h2 {
  margin-bottom: 8px;
}

body, input:not([type="checkbox"]):not([type="radio"]), button, textarea, select, option {
  font-size: 18px;
  font-family: Verdana, sans-serif;
  line-height: 2;
  box-sizing: border-box;
  background-color: white;
  color: black;
}
select, input:not([type="checkbox"]):not([type="radio"]), button, textarea {
  width: 100%;
  margin-bottom: 18px;
  background-color: transparent;
  border: 3px solid black;
  font-weight: bold;
  padding: 4px;
  outline-color: blue;
  border-radius: 1px;
}
a, a:visited {
  color: blue;
}
button {
  cursor: pointer;
  color: black;
  margin-top: 8px;
}
button:active {
  color: blue;
  text-decoration: none;
}
button[type="button"] {
  background-color: transparent;
  border: none;
  text-decoration: none;
}
button[disabled], select[disabled], textarea[disabled] {
  color: gray;
  border-color: gray;
  text-decoration: none;
}
select {
  height: 50px;
  margin-bottom: 8px;
}
input[type="checkbox"] {
  margin: 0;
  margin-right: 8px;
  width: 32px;
  height: 32px;
}
input[type="checkbox"] + span {
  line-height: 32px;
}
input[type="radio"] {
  margin: 0;
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

@media (prefers-color-scheme: dark) {
  a, a:visited {
    color: orange;
  }
  body, input:not([type="checkbox"]):not([type="radio"]), button, textarea, select, option {
    background-color: black;
    color: white;
  }
  select, input:not([type="checkbox"]):not([type="radio"]), button, textarea {
    border-color: white;
  }
  select:focus, input:focus, button:focus, textarea:focus {
    outline-color: orange;
    border-color: orange;
  }
  button {
    color: white;
  }
  button:active {
    color: orange;
    border-color: orange;
  }
}

figure {
  margin-left: 0;
}


.dialog {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: #fff;
  transition: 0.2s;
  overflow-y: auto;
}
.dialog[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
}
.dialog__inner {
  width:  92vw;
  max-width: var(--viewport-width);
  margin: auto;
  padding: 1em 2em;
}
.dialog--backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.dialog--backdrop .dialog__inner {
  background-color: white;
  cursor: auto;
}
@media (prefers-color-scheme: dark) {
  .dialog {
    background-color: black;
  }
  .dialog--backdrop {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .dialog--backdrop .dialog__inner {
    background-color: black;
  }
}

.dimm {
  font-size: 80%;
  opacity: 80%;
}

.firebase-emulator-warning {
  display: none;
}

/* Allow using button attributes form event.target */
body main button * {
  pointer-events: none;
}

.card-on-table {
  border-radius: 1px;
  margin: 0 auto;
  display: block;
  width: 120px;
  box-sizing: border-box;
}
.card-in-hands {
  border-radius: 1px;
  width: 80px;
  height: 133px;
  box-sizing: border-box;
  transition: transform 200ms ease-in-out;
}
.card-in-hands--selected {
  transform: scale(1.2);
}

.hands {
  display: flex;
  text-align: center;
  flex-grow: 1;
  overflow-x: auto;
  padding-bottom: 16px;
}
.hands__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.hands__item--card {
  width: 80px;
  border-radius: 4px;
  padding: 16px 6px;
  line-height: 250%;
}
.hands__item--color {
  flex: 1;
  padding: 8px;
}
@media (prefers-color-scheme: dark) {
  .hands__item--card {
  }
}
.hands__item input {
  display: none;
}
.hands__item input:checked + span {
  font-weight: bold;
}