
  body, input, button, textarea, select, option {
    font-size: 16px;
    font-family: monospace;
    line-height: 1.4;
  }

  select, input, button, textarea {
    width: 100%;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  .hidden {
    visibility: none;
  }